<!DOCTYPE html>
<html>

<head>
    <title>User Form</title>
</head>

<body>
    <h2>User Registration</h2>

    {% if error %}
    <p style="color:red;">{{ error }}</p>
    {% endif %}

    <form method="POST">
        <label>Name:</label><br>
        <input type="text" name="name"><br><br>

        <label>Email:</label><br>
        <input type="email" name="email"><br><br>

        <label>Skill:</label><br>
        <input type="text" name="skill"><br><br>

        <button type="submit">Submit</button>
    </form>
    <br>
    <a href="/todo">Go to To-Do Page</a>
</body>

</html>